<!DOCTYPE html>
<html>
<head>
  <title>ContraAnjos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% Time.zone = "Brasilia" %>
</head>
<body id="<%= background %>">

<nav>
	<ul>
		<li><a href="#home">Home</a></li>
		<li><a href="#classes">Classes</a></li>
		<li><a href="#pessa">Adquira</a></li>
	</ul>
</nav>

<%= yield %>

</body>
</html>